node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

dist/
build/
.out/
.next/
coverage/
*.log

.env
.env.local
.env.*.local

database.sqlite
*.sqlite
*.sqlite-journal
*.db

.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp


*.tsbuildinfo


.cache/
tmp/
temp/


docker-data/
